# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/
venv_vizzy/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
